# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Uploaded Files
uploads/

# Generated Charts
charts/

# Generated Reports
reports/

# macOS
.DS_Store

# VS Code
.vscode/ 
__pycache__/
*.py[cod]
logs/
*.log
venv/
.env